
.como_link {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}
.como_link_claro {
    color:rgb(167, 167, 238);
    text-decoration:underline;
    cursor:pointer;
}
.como_link_claro:hover {
    color:rgb(197, 197, 238);
    text-decoration:underline;
    cursor:pointer;
}
.como_link:hover {
    color: #3333CC;
}
.partenon {
    font-size: 23px;
    text-shadow: 0 0 0 white;
    cursor: pointer;
}
.partenon:hover {
    text-shadow: 0 0 4px blue;
}
.w_100 {
    width: 100%;
    max-width: 100%;
}
.w_auto {
    width: auto;
    min-width: auto !important;
}
.caja_de_entrada_de_formulario {
    padding: 10px;
}
.caja_de_entrada_de_formulario.primera { 
    padding-bottom: 0px;
}
.background_image_for_login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1d191c;
    background-image: url('./sea.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.visor_de_tabla {
    display: inline-block;
    width: 100%;
    overflow: scroll;
}
.paginacion.baja {
    text-align: right;
}
.columna_del_formulario,
.paginacion_del_explorador,
.orden_del_explorador,
.filtro_del_explorador {
    margin-top: 8px;
    padding: 4px;
    box-shadow: 0 0 3px black;
    background-color: #DDDDDD;
}
.campo_del_formulario,
.campo_de_la_paginacion,
.campo_del_orden,
.campo_del_filtro {
    display: block;
}
.campo_del_formulario > *,
.campo_de_la_paginacion > *,
.campo_del_orden > *,
.campo_del_filtro > * {
    display: block;
    width: 100%;
}
.punto_de_puerto_de_notificaciones {
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    max-height: 90px;
}
.contenedor_de_puerto_de_notificaciones {
    position: relative;
}
.caja_de_puerto_de_notificaciones {
    padding: 8px;
}
.caja_de_notificacion {
    z-index: 1000;
    padding: 4px;
    background-color: #E0E0E0;
    border: 1px solid #333333;
    color: #333333;
    overflow: scroll;
    max-height: 40px;
    font-size: 9px;
    cursor: pointer;
}
.input_para_checkbox_1 {
    min-width: auto;
    padding: 0;
}
.texto_resaltado_para_copiar {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 2pt;
    overflow-wrap: break-word;
}
.texto_monoespaciado {
    font-family: monospace;
}

.contenido_de_columna {
    display: inline-block;
    max-width: 175px;
    text-overflow: ellipsis;
    overflow: hidden;
}

button.boton_de_identificador_en_tabla {
    min-width: 40px !important;
}

.entrada_de_formulario {
    width: 100%;
    max-width: 100%;
}


ul,li {
    margin: 0;
    padding: 0;
}
ul {
    padding-left: 20px;
}
h5 {
    background-color: #222222;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0;
    padding: 8px;
    margin-bottom: 4px;
}
th {
    background-color: #222222;
    color: white;
    text-transform: uppercase;
    vertical-align: top;
    padding: 4px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    border: 0px;
    border-bottom: 1px solid #888;
    box-shadow: 0 0 3px black;
}
.display_inline_block {
    display: inline-block;
}
.text_align_center {
    text-align: center;
}
.text_align_left {
    text-align: left;
}
.text_align_right {
    text-align: right;
}





.win7 [role="tabpanel"] {
    padding: 4px;
}
.win7 [type="search"] {
    min-width: auto;
}
.win7 textarea {
    width: 100%;
    resize: vertical;
}
.win7 input.inputfile {
    border: 1px solid #888;
    background-color: white;
    font-family: Roboto;
    font-size: 12px;
    border-radius: 2pt;
    width: 100%;
    cursor: pointer;
}
.win7 img.inputfileimage {
    width: 100%;
    max-height: 100px;
}
.win7 .inputtype {
    background-color: #333;
    color: white;
    text-transform: uppercase;
    padding: 2px;
    font-size: 9px;
    border-radius: 4pt;
}

.ver_post {
    border: 1px solid #333;   
}
.lista_de_posts {

}
.lista_de_lecciones > .leccion_en_lista,
.lista_de_cursos > .curso_en_lista,
.lista_de_posts > .post_en_lista {
    border: 1px solid #333;
    margin-bottom: 4px;
    cursor: pointer;
}
.lista_de_lecciones > .leccion_en_lista:hover,
.lista_de_cursos > .curso_en_lista:hover,
.lista_de_posts > .post_en_lista:hover {
    background-color: #DDDDDD;
}
.leccion_en_lista > .titulo_de_leccion,
.curso_en_lista > .titulo_de_curso,
.ver_post > .titulo_de_post,
.lista_de_posts > .post_en_lista > .titulo_de_post {
    font-size: 15px;
    font-weight: bold;
    background-color: #222;
    color: #FFF;
    padding: 4px;
    text-align: center;
}
.ver_post > .subtitulo_de_post,
.lista_de_posts > .post_en_lista > .subtitulo_de_post {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding: 4px;
    text-align: justify;
}
.leccion_en_lista > .descripcion_de_leccion,
.curso_en_lista > .descripcion_de_curso,
.ver_post > .contenido_de_post,
.lista_de_posts > .post_en_lista > .contenido_de_post {
    font-size: 10px;
    padding: 4px;
    text-align: justify;
}
.leccion_en_lista > .fecha_de_creacion_de_leccion,
.curso_en_lista > .fecha_de_creacion_de_curso,
.ver_post .autor_de_post,
.lista_de_posts > .post_en_lista .autor_de_post {
    color: #666;
    text-align: left;
    font-size: 8px;
    padding: 4px;
}
.ver_post .fecha_de_creacion_de_post,
.lista_de_posts > .post_en_lista .fecha_de_creacion_de_post {
    color: #666;
    text-align: right;
    font-size: 8px;
    padding: 4px;
}
.panel_de_botones_superior {
    padding: 4px;
    text-align: right;
    border: 1px solid #333;
    margin-bottom: 4px;
}
.panel_principal {
    padding: 8px;
    padding-top: 6px;
}
.tema_en_lista {
    cursor: pointer;
    border: 1px solid #333;
    margin-bottom: 4px;
}
.tema_en_lista:hover {
    background-color: #CCC;
}
.tema_en_lista > .titulo_de_tema {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    padding: 4px;
}
.tema_en_lista > .descripcion_de_tema {
    font-size: 12px;
    font-weight: bold;
    color: #666;
    padding: 4px;
}
.post_en_lista {
    border: 1px solid #333;
    margin-bottom: 4px;
    cursor: pointer;
}
.post_en_lista:hover {
    background-color: #CCC;
}
.post_en_lista > .titulo_de_post {
    padding: 4px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
.post_en_lista > .subtitulo_de_post {
    padding: 4px;
    font-size: 12px;
    color: #666;
    font-weight: bold;
}
.post_en_lista > .contenido_de_post {
    font-size: 10px;
    padding: 4px;
    text-align: justify;
}
.post_en_lista > .autor_de_post {
    padding: 4px;
    font-size: 12px;
    color: #666;
}
.ver_post > .tags_de_post,
.post_en_lista > .tags_de_post {
    color: #888;
    text-align: left;
    font-size: 8px;
    padding: 4px;
}
.caja_de_nuevo_comentario {
    min-height: 100px;
}
.panel_de_botones_inferior {
    padding: 4px;
    text-align: right;
    border-top: 1px dashed #333;
}
.campo_de_formulario {
    padding: 4px;
    padding-bottom: 8px;
}
.enunciado_de_campo_de_formulario {
    
}
.tabla_de_mensajes {
    border-collapse: collapse;
}
.tabla_de_mensajes > tr > th {
    padding-left: 8px;
    padding-right: 8px;
}
.tabla_de_mensajes > tr > td {
    background-color: inherit;
}
.fila_de_mensaje {
    cursor: pointer;
}
.fila_de_mensaje:hover {
    background-color: #CCC;
}
.ExploradorDeDatos > div > table {
    border-collapse: collapse;
}
.ver_mensaje {
    border: 1px solid #333;
}
.ver_mensaje > .asunto_de_mensaje {
    background-color: #222;
    color: white;
    font-weight: bold;
    padding: 4px;
}
.ver_mensaje > .usuario_origen_de_mensaje {
    background-color: #CCC;
    font-size: 10px;
    padding: 4px;
}
.ver_mensaje > .contenido_de_mensaje {
    font-size: 10px;
    padding: 4px;
}

.lista_de_cursos > .curso_en_lista.nohover:hover {
    background-color: inherit;
    cursor: default;
}